@mixin flex-row($align: normal, $justify: flex-start) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-row-center($justify: flex-start) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify;
}

@mixin flex-row-wrap($align: normal, $justify: flex-start) {
  display: flex;
  flex-flow: wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-row-center-wrap($justify: flex-start) {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: $justify;
}

@mixin flex-column($align: normal, $justify: flex-start) {
  display: flex;
  flex-flow: column;
  align-items: $align;
  justify-content: $justify;
}

@mixin inline-flex-row($align: normal, $justify: flex-start) {
  display: inline-flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin inline-flex-row-center($justify: flex-start) {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify;
}

@mixin inline-flex-row-wrap($align: normal, $justify: flex-start) {
  display: inline-flex;
  flex-flow: wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin inline-flex-row-center-wrap($justify: flex-start) {
  display: inline-flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: $justify;
}
