@use "@syntax-design/syntax-tokens/dist/web/tokens.scss" as tokens;

@mixin body-small() {
  line-height: tokens.$font-body-small-regular-line-height;
  font-style: tokens.$font-body-small-regular-font-style;
  font-weight: tokens.$font-body-small-regular-font-weight;
  font-size: tokens.$font-body-small-regular-font-size;
}

@mixin body-small-bold() {
  line-height: tokens.$font-body-small-bold-line-height;
  font-style: tokens.$font-body-small-bold-font-style;
  font-weight: tokens.$font-body-small-bold-font-weight;
  font-size: tokens.$font-body-small-bold-font-size;
}

@mixin body() {
  line-height: tokens.$font-body-default-regular-line-height;
  font-style: tokens.$font-body-default-regular-font-style;
  font-weight: tokens.$font-body-default-regular-font-weight;
  font-size: tokens.$font-body-default-regular-font-size;
}

@mixin body-medium() {
  line-height: tokens.$font-body-default-medium-line-height;
  font-style: tokens.$font-body-default-medium-font-style;
  font-weight: tokens.$font-body-default-medium-font-weight;
  font-size: tokens.$font-body-default-medium-font-size;
}

@mixin body-large() {
  line-height: tokens.$font-body-large-regular-line-height;
  font-style: tokens.$font-body-large-regular-font-style;
  font-weight: tokens.$font-body-large-regular-font-weight;
  font-size: tokens.$font-body-large-regular-font-size;
}

@mixin h2() {
  line-height: tokens.$font-heading-h2-medium-line-height;
  font-style: tokens.$font-heading-h2-medium-font-style;
  font-weight: tokens.$font-heading-h2-medium-font-weight;
  font-size: tokens.$font-heading-h2-medium-font-size;
}

@mixin h2-medium() {
  line-height: tokens.$font-heading-h2-medium-line-height;
  font-style: tokens.$font-heading-h2-medium-font-style;
  font-weight: tokens.$font-heading-h2-medium-font-weight;
  font-size: tokens.$font-heading-h2-medium-font-size;
}

@mixin h3-medium() {
  line-height: tokens.$font-heading-h3-medium-line-height;
  font-style: tokens.$font-heading-h3-medium-font-style;
  font-weight: tokens.$font-heading-h3-medium-font-weight;
  font-size: tokens.$font-heading-h3-medium-font-size;
}

@mixin label-medium() {
  line-height: tokens.$font-label-default-medium-line-height;
  font-style: tokens.$font-label-default-medium-font-style;
  font-weight: tokens.$font-label-default-medium-font-weight;
  font-size: tokens.$font-label-default-medium-font-size;
}

@mixin label-small() {
  line-height: tokens.$font-label-small-regular-line-height;
  font-style: tokens.$font-label-small-regular-font-style;
  font-weight: tokens.$font-label-small-regular-font-weight;
  font-size: tokens.$font-label-small-regular-font-size;
}

@mixin label-small-medium() {
  line-height: tokens.$font-label-small-medium-line-height;
  font-style: tokens.$font-label-small-medium-font-style;
  font-size: tokens.$font-label-small-medium-font-size;
  font-weight: tokens.$font-label-small-medium-font-weight;
}

@mixin label-small-bold() {
  line-height: tokens.$font-label-small-bold-line-height;
  font-style: tokens.$font-label-small-bold-font-style;
  font-size: tokens.$font-label-small-bold-font-size;
  font-weight: tokens.$font-label-small-bold-font-weight;
}

@mixin label-large-bold() {
  line-height: tokens.$font-label-large-bold-line-height;
  font-style: tokens.$font-label-large-bold-font-style;
  font-weight: tokens.$font-label-large-bold-font-weight;
  font-size: tokens.$font-label-large-bold-font-size;
}

@mixin label-bold() {
  line-height: tokens.$font-label-default-bold-line-height;
  font-style: tokens.$font-label-default-bold-font-style;
  font-weight: tokens.$font-label-default-bold-font-weight;
  font-size: tokens.$font-label-default-bold-font-size;
}

@mixin textlink-small {
  line-height: tokens.$font-textlink-small-regular-line-height;
  font-weight: tokens.$font-textlink-small-regular-font-weight;
  font-style: tokens.$font-textlink-small-regular-font-style;
  font-size: tokens.$font-textlink-small-regular-font-size;
}

@mixin textlink-small-bold {
  line-height: tokens.$font-textlink-small-bold-line-height;
  font-weight: tokens.$font-textlink-small-bold-font-weight;
  font-style: tokens.$font-textlink-small-bold-font-style;
  font-size: tokens.$font-textlink-small-bold-font-size;
}
