@use "@syntax-design/syntax-tokens/dist/web/tokens.scss" as tokens;

// elevation
$effect-elevation-30: tokens.$effect-light-elevation-30;
$effect-elevation-20: tokens.$effect-light-elevation-20;
$effect-elevation-10: tokens.$effect-light-elevation-10;

// colors
$color-warning-90: tokens.$color-light-warning-90;
$color-warning-80: tokens.$color-light-warning-80;
$color-warning-70: tokens.$color-light-warning-70;
$color-warning-50: tokens.$color-light-warning-50;
$color-warning-30: tokens.$color-light-warning-30;
$color-warning-20: tokens.$color-light-warning-20;
$color-warning-10: tokens.$color-light-warning-10;
$color-success-90: tokens.$color-light-success-90;
$color-success-80: tokens.$color-light-success-80;
$color-success-70: tokens.$color-light-success-70;
$color-success-50: tokens.$color-light-success-50;
$color-success-30: tokens.$color-light-success-30;
$color-success-20: tokens.$color-light-success-20;
$color-success-10: tokens.$color-light-success-10;
$color-neutral-90: tokens.$color-light-neutral-90;
$color-neutral-80: tokens.$color-light-neutral-80;
$color-neutral-70: tokens.$color-light-neutral-70;
$color-neutral-50: tokens.$color-light-neutral-50;
$color-neutral-40: tokens.$color-light-neutral-40;
$color-neutral-30: tokens.$color-light-neutral-30;
$color-neutral-20: tokens.$color-light-neutral-20;
$color-neutral-10: tokens.$color-light-neutral-10;
$color-flag-90: tokens.$color-light-flag-90;
$color-flag-80: tokens.$color-light-flag-80;
$color-flag-70: tokens.$color-light-flag-70;
$color-flag-50: tokens.$color-light-flag-50;
$color-flag-30: tokens.$color-light-flag-30;
$color-flag-20: tokens.$color-light-flag-20;
$color-flag-10: tokens.$color-light-flag-10;
$color-error-90: tokens.$color-light-error-90;
$color-error-80: tokens.$color-light-error-80;
$color-error-70: tokens.$color-light-error-70;
$color-error-50: tokens.$color-light-error-50;
$color-error-30: tokens.$color-light-error-30;
$color-error-20: tokens.$color-light-error-20;
$color-error-10: tokens.$color-light-error-10;
$color-click-90: tokens.$color-light-click-90;
$color-click-80: tokens.$color-light-click-80;
$color-click-70: tokens.$color-light-click-70;
$color-click-50: tokens.$color-light-click-50;
$color-click-30: tokens.$color-light-click-30;
$color-click-20: tokens.$color-light-click-20;
$color-click-10: tokens.$color-light-click-10;
$color-brand-90: tokens.$color-light-brand-90;
$color-brand-80: tokens.$color-light-brand-80;
$color-brand-70: tokens.$color-light-brand-70;
$color-brand-50: tokens.$color-light-brand-50;
$color-brand-30: tokens.$color-light-brand-30;
$color-brand-20: tokens.$color-light-brand-20;
$color-brand-10: tokens.$color-light-brand-10;
$color-accent-90: tokens.$color-light-accent-90;
$color-accent-80: tokens.$color-light-accent-80;
$color-accent-70: tokens.$color-light-accent-70;
$color-accent-50: tokens.$color-light-accent-50;
$color-accent-30: tokens.$color-light-accent-30;
$color-accent-20: tokens.$color-light-accent-20;
$color-accent-10: tokens.$color-light-accent-10;
