@use "@syntax-design/syntax-tokens/dist/web/tokens.scss" as tokens;

$sizes-xs: tokens.$sizes-xs;
$sizes-xm: tokens.$sizes-xm;
$sizes-xl: tokens.$sizes-xl;
$sizes-s: tokens.$sizes-s;
$sizes-m: tokens.$sizes-m;
$sizes-l: tokens.$sizes-l;

$radii-border-50: tokens.$radii-border-50;
$radii-border-400: tokens.$radii-border-400;
$radii-border-300: tokens.$radii-border-300;
$radii-border-200: tokens.$radii-border-200;
$radii-border-100: tokens.$radii-border-100;
$radii-border-0: tokens.$radii-border-0;

$font-size-small: tokens.$font-body-small-regular-font-size;
$font-size-regular: tokens.$font-body-default-regular-font-size;
$font-size-large: tokens.$font-body-large-regular-font-size;
